<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <title>Projects | Joseph Dugho</title>
</head>
<body>
    <div class="cover">
        <!--Transition-->
    </div>


    <div class="page">
        <span id="return-btn">
            <a href="{{url_for('welcome')}}">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
                </svg>
            </a>
        </span>
    
        <div class="design">
            <div class="container">
            {% for i in range(1,34) %}
                <div class="p{{i}} animate-on-scroll"><img src="{{ url_for('static', filename='images/portfolio-'~ i|string ~'.jpg')}}"></div>
            {% endfor %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/projects.js')}}"></script>
</body>
</html>