<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <title>Welcome</title>
</head>
<body>
    <div class="cover">
        <!--Transition-->
    </div>

    <div id="s1">
        <div class="nav-hover">
            <!--Hover Animation-->
            <p></p>
        </div>
        <nav>
            <a href="#" data-text="welcome">Welcome</a>
            <a href="#" data-text="projects">Projects</a>
            <a href="#" data-text="reachout">Reach Out</a>
        </nav>
    </div>

    <div id="s2">
        <div>
            <p>Hey there! I'm</p>
            <p style="display: none;">JOSEPH</p>

            <div class="name">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <mask id="text-mask">
                            <text x="0" y="75">JOSEPH</text>
                        </mask>
                    </defs>
                    <rect width="100%" height="100%" mask="url(#text-mask)"/>
                    <circle id="circle" r="100" mask="url(#text-mask)"/>
                </svg>
            </div>

            
            <div class="title">
                <p>Developer</p>
                <p>Designer</p>
            </div>
        </div>
        <div>
            <p>crafting designs with code and creativity.</p>
        </div>
    </div>
      
    
    

    <script src="{{ url_for('static', filename='js/welcome.js')}}"></script>
</body>
</html>